h1 {
    color: #27aedb;
    text-align: center;
}


button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

* {
    background-color: rgb(110, 98, 98);
}

li {
    background-color: rgb(229, 229, 236);
    color: rgb(7, 7, 7);
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 5px;
    width: 200px;
    border: none;

}

li:hover {
    background-color: rgb(108, 108, 211);
    color: black;

}